@model SaveTheKolache.Models.CampaignViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CampaignViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CampaignName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampaignName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.CampaignInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampaignInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsersSignedUp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsersSignedUp)
        </dd>
        

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
