@model IEnumerable<SaveTheKolache.Models.Campaign>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CampaignName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsersSignedUp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CampaignName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsersSignedUp)
        </td>
        <td>
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                @Html.ActionLink("Edit", "Edit", new {id = item.CampaignID})
            }|
            @Html.ActionLink("Details", "Details", new {id = item.CampaignID}) |
            <button class="btn btn-info" type="button" id="addressSearch"   
                    onclick="location.href = '@Url.Action("Sign", "SignUpList", new{id = item.CampaignID})'">
        </td>
    </tr>
}

</table>
