@model SaveTheKolache.Models.SignUpList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SignUpList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CampaignID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampaignID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CampaignName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampaignName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateSigned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSigned)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SignID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
